<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Portfolio Website">
    <meta name="keywords" content="HTML, CSS,Portfolio">
    <meta name="Siva Kumar" content="Portfolio Website">
    <title>SIVA Portfolio services page</title>
    <link rel="stylesheet" href="siva_portfolio.css">
    <link rel="shortcut icon" href="/My-Portfolio-Project/Portfolio Project/Images/Logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header class="nav-bar">
        <div class="logo">
            <div class="logo-icon">SK</div>
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="siva_portfolio.html">Home</a></li>
                <li><a href="about-page.html">About</a></li>
                <li><a href="skills-page.html">Skills</a></li>
                <li class="active"><a href="service.page.html">Services</a></li>
                <li><a href="projects-page.html">Projects</a></li>
                <li><a href="contact-page.html">Contact</a></li>
            </ul>
        </nav>
        <div class="menu-icon">☰
            <div class="dropdown-content">
                <li><a href="siva_portfolio.html">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#service">Services</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#contact">Contact</a></li>
            </div>
        </div>
    </header>
    <section>
        <div id="service" class="services">
            <h1 class="services-heading">My <span>Services</span></h1>
            <div class="service-content">
                <div class="service-items">
                    <i class="fa-solid fa-code"></i>
                    <h2>Web Development</h2>
                    <p>I provide professional web development services where I design and build clean, responsive, and user-friendly websites. Using HTML, CSS, and JavaScript.</p>
                    <a href="#">Read more</a>
                </div>
                <div class="service-items">
                    <i class="fa-solid fa-database"></i>
                    <h2>Data base Management</h2>
                    <p>I design databases and write efficient SQL queries for data management and analysis.
                       I ensure clean data structure, fast performance, and accurate results.</p>
                    <a href="#">Read more</a>
                </div>
                <div class="service-items">
                    <i class="fa-brands fa-python"></i>
                    <h2>Data base Management</h2>
                    <p>I create Python scripts for automation, data processing, and simple applications.
                       My code is clean, efficient, and designed to solve real-world problems.</p>
                    <a href="#">Read more</a>
                </div>
            </div>
        </div>
    </section>